{
	# https://caddyserver.com/docs/caddyfile/options

	email admin@bjork.tech

	#!! Production
	# https://letsencrypt.org/getting-started/
	acme_ca https://acme-v02.api.letsencrypt.org/directory

	#!! Staging
	# https://letsencrypt.org/docs/staging-environment/
	#// acme_ca https://acme-staging-v02.api.letsencrypt.org/directory

	# BUG: May not function on chromium browsers
	# https://github.com/caddyserver/caddy/issues/6898
	# https://caddyserver.com/docs/automatic-https#enabling-ech
	#// ech ech.bjork.tech

	# https://caddyserver.com/docs/logging
	log {
		format console
		level INFO
	}

	# https://caddyserver.com/docs/caddyfile/directives#directive-order
	order bind first

	import plugins/*.caddyfile
}

import snippets/*.caddyfile
import sites/*.caddyfile
