/*** SwayNotificationCenter
https://docs.gtk.org/gtk3/css-overview.html
https://docs.gtk.org/gtk3/css-properties.html
https://github.com/ErikReider/SwayNotificationCenter/blob/main/data/style/style.scss
***/

@define-color cc-bg #002b36;
@define-color noti-border-color #073642;
@define-color noti-bg #002b36;
@define-color noti-bg-opaque #002b36;
@define-color noti-bg-darker #002b36;
@define-color noti-bg-hover #073642;
@define-color noti-bg-hover-opaque #073642;
@define-color noti-bg-focus #002b36;
@define-color text-color #93a1a1;
@define-color text-color-disabled #586e75;

.control-center {
  padding: 16px;
}

.control-center .notification {
  box-shadow: none;
}

.notification-content {
  padding: 12px;
}

.notification-content .app-icon,
.notification-content .image {
  margin: 0 8px 0 0;
}

.notification-group-buttons,
.notification-group-headers {
  margin: 0;
}

.text-box .summary,
.text-box .time {
  font-size: 18px;
}

.text-box .body {
  font-size: 16px;
}
