/***
https://github.com/rafaelmardojai/firefox-gnome-theme
***/

:root {
  --gnome-accent: #d33682;
  --gnome-window-background: #002b36;
  --gnome-window-color: #93a1a1;
  --gnome-view-background: #073642;
  --gnome-sidebar-background: #002b36;
  --gnome-secondary-sidebar-background: #002b36;
  --gnome-menu-background: #073642;
  --gnome-headerbar-background: #002b36;
  --gnome-toolbar-icon-fill: #93a1a1;
  --gnome-tabbar-tab-hover-background: #073642;
  --gnome-tabbar-tab-active-background: #073642;
  --gnome-tabbar-tab-active-hover-background: #073642;
}

:root:-moz-window-inactive {
  --gnome-inactive-entry-color: #586e75;
  --gnome-tabbar-tab-hover-background: #073642;
  --gnome-tabbar-tab-active-background: #073642;
}

/* Center bookmarks */
#PlacesToolbarItems {
  justify-content: center;
}

/* Disable bookmark folder icons */
.bookmark-item[container] > .toolbarbutton-icon {
  display: none;
}
