{
	# https://caddyserver.com/docs/caddyfile/options
	email admin@bjork.tech

	#!! Production
	# https://letsencrypt.org/getting-started/
	acme_ca https://acme-v02.api.letsencrypt.org/directory

	#!! Staging
	# https://letsencrypt.org/docs/staging-environment/
	#// acme_ca https://acme-staging-v02.api.letsencrypt.org/directory

	# https://caddyserver.com/docs/automatic-https#enabling-ech
	ech ech.bjork.tech

	# https://caddyserver.com/docs/logging
	log {
		format console
		level INFO
	}

	# https://caddyserver.com/docs/caddyfile/directives#directive-order
	order bind first

	# https://github.com/mholt/caddy-l4
	# layer4 {
	#  tcp/:853 {
	#    route {
	#      tls
	#      proxy {
	#        proxy_protocol v2
	#        upstream tcp/localhost:8853
	#      }
	#    }
	#  }

	#  udp/:853 {
	#    route {
	#      proxy udp/localhost:8853
	#    }
	#  }
	# }
}

# https://caddyserver.com/docs/caddyfile/concepts#snippets

(global) {
	encode zstd gzip
	header X-Robots-Tag "noindex, nofollow"
}

(admin) {
	# https://caddyserver.com/docs/caddyfile/directives/basic_auth
	#?? caddy hash-password
	basic_auth {
		myned {$ADMIN_HASH}
	}
}

(owo) {
	#?? echo -n <username>:<password> | base64
	@unauthorized {
		path {args[:]}
		not header Authorization "Basic {$OWO_HASH}"
	}

	header @unauthorized WWW-Authenticate "Basic"
	respond @unauthorized 401
}

(cloudflare) {
	# https://caddyserver.com/docs/caddyfile/directives/tls
	tls {
		# https://github.com/caddy-dns/cloudflare
		dns cloudflare {$CLOUDFLARE_API_TOKEN}

		#!! Record propagation may time out with external resolvers
		# https://github.com/caddy-dns/cloudflare/issues/28
		resolvers 1.1.1.1 1.0.0.1 2606:4700:4700::1111 2606:4700:4700::1001
	}
}

(vpn) {
	# https://tailscale.com/kb/1015/100.x-addresses
	bind {system.hostname}.{$TAILNET} # FQDN
}

# Mastodon
bjork.gay {
	import global
	import cloudflare

	reverse_proxy https://localhost:3000 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

*.bjork.gay {
	import global
	import cloudflare

	@status host status.bjork.gay
	redir @status https://status.bjork.tech{uri}

	# https://caddyserver.com/docs/caddyfile/patterns#redirect-www-subdomain
	@www host www.bjork.gay
	redir @www https://bjork.gay{uri}
}

*.vpn.bjork.gay {
	import global
	import cloudflare
	import vpn

	# Oryx
	@stream host stream.vpn.bjork.gay
	handle @stream {
		reverse_proxy {system.hostname}-oryx:2022
		redir /flv {$ORYX_FLV}
		redir /hls {$ORYX_HLS}
		redir /webrtc {$ORYX_WEBRTC}
	}

	# Caddy
	@wallpaper host wallpaper.vpn.bjork.gay
	handle @wallpaper {
		root * /srv/sites/wallpaper.bjork.gay
		try_files /wallpaper.png
		file_server
	}
}

bjork.tech {
	import global
	import cloudflare

	# Caddy
	root * /srv/sites/bjork.tech
	file_server

	# Matrix delegation to matrix.bjork.tech
	# https://element-hq.github.io/synapse/latest/reverse_proxy.html#caddy-v2
	header /.well-known/matrix/* Content-Type application/json
	header /.well-known/matrix/* Access-Control-Allow-Origin *
	respond /.well-known/matrix/server `{"m.server":"matrix.bjork.tech:443"}`
	respond /.well-known/matrix/client `{"m.homeserver":{"base_url":"https://matrix.bjork.tech"}}`
	respond /.well-known/matrix/support `{"contacts":[{"matrix_id":"@myned:bjork.tech","email_address":"admin@bjork.tech","role":"m.role.admin"}]}`
}

*.bjork.tech {
	import global
	import cloudflare

	# Nextcloud
	@cloud host cloud.bjork.tech
	reverse_proxy @cloud localhost:11000

	# Miniflux
	@feed host feed.bjork.tech
	reverse_proxy @feed localhost:8808

	# Foundry Virtual Tabletop
	@foundry host foundry.bjork.tech
	reverse_proxy @foundry localhost:30000

	# Forgejo
	@git host git.bjork.tech
	reverse_proxy @git localhost:3333

	# Synapse
	@matrix host matrix.bjork.tech
	handle @matrix {
		reverse_proxy /_matrix/* localhost:8008
		reverse_proxy /_synapse/client/* localhost:8008
	}

	# Netbox
	@net host net.bjork.tech
	reverse_proxy @net localhost:8585

	# Kener
	@status host status.bjork.tech
	reverse_proxy @status {system.hostname}-kener:3000

	# https://caddyserver.com/docs/caddyfile/patterns#redirect-www-subdomain
	@www host www.bjork.tech
	redir @www https://bjork.tech{uri}
}

*.admin.bjork.tech {
	import global
	import cloudflare
	import vpn

	# Nextcloud AIO
	@cloud-admin host cloud.admin.bjork.tech
	reverse_proxy @cloud-admin https://localhost:8080 {
		transport http {
			tls_insecure_skip_verify
		}
	}

	# dash.
	@dash-admin host dash.admin.bjork.tech
	reverse_proxy @dash-admin localhost:3001

	# Netdata
	# @data-admin host data.admin.bjork.tech
	# handle @data-admin {
	# 	redir / /v3
	# 	reverse_proxy {system.hostname}-netdata:19999
	# }

	# Grafana
	@graph-admin host graph.admin.bjork.tech
	reverse_proxy @graph-admin {system.hostname}-grafana:3000

	# Synapse Admin
	@matrix-admin host matrix.admin.bjork.tech
	reverse_proxy @matrix-admin localhost:8000

	# Prometheus
	@metric-admin host metric.admin.bjork.tech
	reverse_proxy @metric-admin {system.hostname}-prometheus:9090

	# Beszel
	@monitor-admin host monitor.admin.bjork.tech
	reverse_proxy @monitor-admin {system.hostname}-beszel:8090
}

*.vpn.bjork.tech {
	import global
	import cloudflare
	import vpn

	# Open WebUI
	@ai host ai.vpn.bjork.tech
	reverse_proxy @ai {system.hostname}-openwebui:8080

	# Actual Budget
	@budget host budget.vpn.bjork.tech
	reverse_proxy @budget localhost:5006

	# AdGuard Home
	@dns host dns.vpn.bjork.tech *.dns.vpn.bjork.tech
	handle @dns {
		# tls {
		# 	# FIXME: Certificate chain fails to import from LetsEncrypt
		# 	ca https://acme.zerossl.com/v2/DV90
		# }

		reverse_proxy {system.hostname}-adguardhome:80
		reverse_proxy /dns-query {system.hostname}-adguardhome:8443
	}

	# Home Assistant
	@home host home.vpn.bjork.tech
	reverse_proxy @home mypi3:8123

	# Synapse
	@matrix host matrix.vpn.bjork.tech
	reverse_proxy @matrix localhost:8008

	# ntfy
	@notify host notify.vpn.bjork.tech
	reverse_proxy @notify localhost:8800

	# Redlib
	@reddit host reddit.vpn.bjork.tech
	reverse_proxy @reddit localhost:8888

	# SearXNG
	# @search host search.vpn.bjork.tech
	# handle @search {
	# 	reverse_proxy localhost:8888 {
	# 		header_up X-Real-IP {client_ip}
	# 	}
	# }

	# Stremio Client
	# @tv host tv.vpn.bjork.tech
	# handle @tv {
	# 	reverse_proxy localhost:8470
	# }

	# Stremio Server
	# @tv-api host api.tv.vpn.bjork.tech
	# handle @tv-api {
	# 	reverse_proxy localhost:11470
	# }

	# Vaultwarden
	@vault host vault.vpn.bjork.tech
	reverse_proxy @vault localhost:8088 {
		header_up X-Real-IP {client_ip}
	}
}
