<?xml version="1.0" encoding="UTF-8" ?>
<!-- https://docs.ovenmediaengine.com/configuration -->
<!-- https://github.com/AirenSoft/OvenMediaEngine/blob/master/misc/conf_examples/Server.xml -->
<Server version="8">
	<Name>OvenMediaEngine</Name>
	<Type>origin</Type>
	<IP>*</IP>
	<PrivacyProtection>false</PrivacyProtection>
	<StunServer>stun.bjork.tech:3478</StunServer>
	<Modules>
		<HTTP2>
			<Enable>true</Enable>
		</HTTP2>
		<LLHLS>
			<Enable>true</Enable>
		</LLHLS>
		<P2P>
			<Enable>true</Enable>
			<MaxClientPeersPerHostPeer>2</MaxClientPeersPerHostPeer>
		</P2P>
	</Modules>
	<Bind>
		<Providers>
  		<WebRTC>
  			<Signalling>
  				<Port>3333</Port>
  				<WorkerCount>1</WorkerCount>
  			</Signalling>
  			<IceCandidates>
  				<IceCandidate>stream.vpn.bjork.tech:10000/udp</IceCandidate>
  			</IceCandidates>
  		</WebRTC>
			<RTMP>
				<Port>1935</Port>
				<WorkerCount>1</WorkerCount>
			</RTMP>
		</Providers>
		<Publishers>
      <WebRTC>
  			<Signalling>
  				<Port>3333</Port>
  				<WorkerCount>1</WorkerCount>
  			</Signalling>
  			<IceCandidates>
  				<IceCandidate>stream.vpn.bjork.tech:10000/udp</IceCandidate>
  			</IceCandidates>
  		</WebRTC>
			<LLHLS>
				<Port>3333</Port>
				<WorkerCount>1</WorkerCount>
			</LLHLS>
		</Publishers>
	</Bind>
	<VirtualHosts>
		<VirtualHost>
			<Name>default</Name>
			<Distribution>bjork.tech</Distribution>
			<Host>
				<Names>
					<Name>*</Name>
				</Names>
			</Host>
			<CrossDomains>
				<Url>*</Url>
			</CrossDomains>
			<Applications>
				<Application>
					<Name>live</Name>
					<Type>live</Type>
					<OutputProfiles>
					  <Decodes>
							<ThreadCount>3</ThreadCount>
							<OnlyKeyframes>true</OnlyKeyframes>
						</Decodes>
						<OutputProfile>
							<Name>default</Name>
							<OutputStreamName>stream</OutputStreamName>
							<Playlist>
								<Name>default</Name>
								<FileName>adaptive</FileName>
								<Options>
									<WebRtcAutoAbr>true</WebRtcAutoAbr>
									<EnableTsPackaging>true</EnableTsPackaging>
								</Options>
								<RenditionTemplate>
									<Name>${Height}p, ${Bitrate}bps</Name>
									<VideoTemplate>
										<EncodingType>all</EncodingType>
									</VideoTemplate>
									<AudioTemplate>
										<EncodingType>all</EncodingType>
									</AudioTemplate>
								</RenditionTemplate>
							</Playlist>
							<!-- TODO: Enable video transcoding when conditions are further developed -->
							<!-- BUG: Framerate required for transcoding until next release -->
							<!-- https://github.com/AirenSoft/OvenMediaEngine/issues/1793 -->
							<Encodes>
							  <Video>
									<Bypass>true</Bypass>
								</Video>
								<!-- <Video>
									<Name>1080p</Name>
									<Codec>h264</Codec>
									<Bitrate>5000000</Bitrate>
									<Height>1080</Height>
									<Framerate>60</Framerate>
									<BypassIfMatch>
										<Codec>eq</Codec>
										<Height>lte</Height>
									</BypassIfMatch>
								</Video>
								<Video>
									<Name>720p</Name>
									<Codec>h264</Codec>
									<Bitrate>4000000</Bitrate>
									<Height>720</Height>
									<Framerate>60</Framerate>
									<BypassIfMatch>
										<Codec>eq</Codec>
										<Height>lte</Height>
									</BypassIfMatch>
								</Video>
								<Video>
									<Name>480p</Name>
									<Codec>h264</Codec>
									<Bitrate>3000000</Bitrate>
									<Height>480</Height>
									<Framerate>60</Framerate>
									<BypassIfMatch>
										<Codec>eq</Codec>
										<Height>lte</Height>
									</BypassIfMatch>
								</Video> -->
								<Audio>
									<Name>opus</Name>
									<Codec>opus</Codec>
									<Bitrate>192000</Bitrate>
									<Samplerate>48000</Samplerate>
									<Channel>2</Channel>
									<BypassIfMatch>
										<Codec>eq</Codec>
									</BypassIfMatch>
								</Audio>
								<Audio>
									<Name>aac</Name>
									<Codec>aac</Codec>
									<Bitrate>192000</Bitrate>
									<Samplerate>48000</Samplerate>
									<Channel>2</Channel>
									<BypassIfMatch>
										<Codec>eq</Codec>
									</BypassIfMatch>
								</Audio>
							</Encodes>
						</OutputProfile>
					</OutputProfiles>
					<Providers>
						<WebRTC />
						<RTMP />
					</Providers>
					<Publishers>
						<AppWorkerCount>1</AppWorkerCount>
						<StreamWorkerCount>8</StreamWorkerCount>
						<WebRTC>
  						<Rtx>true</Rtx>
  						<Ulpfec>true</Ulpfec>
  						<JitterBuffer>true</JitterBuffer>
						</WebRTC>
						<LLHLS />
					</Publishers>
				</Application>
			</Applications>
		</VirtualHost>
	</VirtualHosts>
</Server>
