/*** Waybar
https://github.com/Alexays/Waybar/wiki/Styling
https://github.com/Alexays/Waybar/blob/master/resources/style.css
https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss

//??
GTK_DEBUG=interactive waybar
#custom-module { }
***/

button:hover,
label:hover {
  background: #073642;
}

menu {
  border-radius: 20px;
  padding: 4px;
}

menuitem {
  padding: 4px;
}

menuitem label {
  font-size: 16px;
}

tooltip {
  background: #002b36;
  border-radius: 20px;
}

tooltip label {
  font-size: 16px;
  padding: 4px;
}

.active {
  background: rgba(88, 110, 117, 0.25);
}

.horizontal > box {
  background: #002b36;
  padding: 4px;
}

.module {
  margin: 0px 1px;
  padding: 4px 12px;
}

#waybar {
  background: transparent;
}

#battery.critical {
  color: #dc322f;
}

#battery.warning {
  color: #b58900;
}

#battery.charging {
  color: #859900;
}

#bluetooth.connected {
  color: #268bd2;
}

#bluetooth.disabled {
  color: #dc322f;
}

#custom-equalizer.normalizer {
  color: #2aa198;
}

#custom-inhibitor.enabled {
  color: #cb4b16;
}

#custom-system76-power.battery {
  color: #859900;
}

#custom-system76-power.balanced {
  color: #93a1a1;
}

#custom-system76-power.performance {
  color: #cb4b16;
}

#custom-system76-power.unknown {
  color: #dc322f;
}

#custom-vm.online {
  color: #268bd2;
}

#custom-vm.paused {
  color: #b58900;
}

#custom-vm.unknown {
  color: #dc322f;
}

#custom-vpn.connected {
  color: #d33682;
}

#network.disabled {
  color: #dc322f;
}

#network.disconnected {
  color: #b58900;
}

#power-profiles-daemon.default {
  color: #dc322f;
}

#power-profiles-daemon.performance {
  color: #cb4b16;
}

#power-profiles-daemon.power-saver {
  color: #859900;
}

#tray {
  background: #073642;
}

#tray > widget {
  background: none;
}

#tray > widget:hover {
  background: rgba(88, 110, 117, 0.25);
}

#tray > widget > image {
  padding: 4px 8px;
}

#wireplumber.muted {
  color: #dc322f;
}

#workspaces {
  background: #073642;
  padding: 0px;
}

#workspaces > button {
  margin: 0px 1px;
  padding: 4px 8px;
}

#workspaces > button:hover {
  background: rgba(88, 110, 117, 0.25);
}
