<?xml version="1.0" encoding="UTF-8"?>
<!-- https://docs.ovenmediaengine.com/configuration -->
<!-- https://github.com/AirenSoft/OvenMediaEngine/blob/master/misc/conf_examples/Server.xml -->
<Server version="8">
	<Name>OvenMediaEngine</Name>
	<Type>origin</Type>
	<IP>*</IP>
	<IP>::</IP>
	<PrivacyProtection>false</PrivacyProtection> <!-- Client IP addresses in logs -->
	<Modules>
		<HTTP2>
			<Enable>true</Enable>
		</HTTP2>
		<LLHLS>
			<Enable>true</Enable>
		</LLHLS>
		<P2P>
			<Enable>true</Enable>
			<MaxClientPeersPerHostPeer>2</MaxClientPeersPerHostPeer>
		</P2P>
	</Modules>
	<Bind>
		<Providers>
			<RTMP>
				<Port>1935</Port>
				<WorkerCount>1</WorkerCount>
			</RTMP>
			<SRT>
				<Port>9999</Port>
				<WorkerCount>1</WorkerCount>
			</SRT>
			<WebRTC>
				<Signalling>
					<Port>3333</Port>
					<WorkerCount>1</WorkerCount>
				</Signalling>
				<IceCandidates>
					<IceCandidate>*:10000/udp</IceCandidate>
					<IceCandidate>[::]:10000/udp</IceCandidate>
					<TcpRelay>*:3478</TcpRelay> <!-- Embedded TURN server -->
					<TcpRelay>[::]:3478</TcpRelay>
					<TcpRelayWorkerCount>1</TcpRelayWorkerCount>
				</IceCandidates>
			</WebRTC>
		</Providers>
		<Publishers>
			<Thumbnail>
				<Port>3333</Port>
			</Thumbnail>
			<LLHLS>
				<Port>3333</Port>
				<WorkerCount>1</WorkerCount>
			</LLHLS>
			<WebRTC>
				<Signalling>
					<Port>3333</Port>
					<WorkerCount>1</WorkerCount>
				</Signalling>
				<IceCandidates>
					<IceCandidate>*:10000/udp</IceCandidate>
					<IceCandidate>[::]:10000/udp</IceCandidate>
					<TcpRelay>*:3478</TcpRelay>
					<TcpRelay>[::]:3478</TcpRelay>
					<TcpRelayWorkerCount>1</TcpRelayWorkerCount>
				</IceCandidates>
			</WebRTC>
		</Publishers>
	</Bind>
	<Defaults>
		<CrossDomains>
			<Url>*</Url>
		</CrossDomains>
	</Defaults>
	<VirtualHosts>
		<VirtualHost>
			<Name>origin</Name>
			<Host>
				<Names>
					<Name>*</Name>
				</Names>
			</Host>
			<Applications>
				<Application>
					<Name>live</Name>
					<Type>live</Type>
					<OutputProfiles>
						<OutputProfile>
							<Name>thumbnail</Name>
							<OutputStreamName>${OriginStreamName}_preview</OutputStreamName>
							<Encodes>
								<Image>
									<Codec>png</Codec>
									<Height>720</Height>
									<Framerate>1</Framerate>
								</Image>
							</Encodes>
						</OutputProfile>
						<OutputProfile>
							<Name>stream</Name>
							<OutputStreamName>${OriginStreamName}</OutputStreamName>
							<Encodes>
								<Video>
									<Name>bypass</Name>
									<Bypass>true</Bypass>
								</Video>
								<Video>
									<Name>480p</Name>
									<Codec>h264</Codec>
									<Height>480</Height>
									<Framerate>30</Framerate>
									<Bitrate>3000000</Bitrate>
									<Modules>x264</Modules>
									<BypassIfMatch>
										<Codec>eq</Codec>
										<Height>lte</Height>
									</BypassIfMatch>
								</Video>
								<Audio>
									<Name>opus</Name>
									<Codec>opus</Codec>
									<Bitrate>128000</Bitrate>
									<Samplerate>48000</Samplerate>
									<Channel>2</Channel>
									<BypassIfMatch>
										<Codec>eq</Codec>
									</BypassIfMatch>
								</Audio>
								<Audio>
									<Name>aac</Name>
									<Codec>aac</Codec>
									<Bitrate>128000</Bitrate>
									<Samplerate>48000</Samplerate>
									<Channel>2</Channel>
									<BypassIfMatch>
										<Codec>eq</Codec>
									</BypassIfMatch>
								</Audio>
							</Encodes>
							<Playlist>
								<Name>default</Name>
								<FileName>default</FileName>
								<Options>
									<WebRtcAutoAbr>true</WebRtcAutoAbr>
									<HLSChunklistPathDepth>0</HLSChunklistPathDepth>
									<EnableTsPackaging>true</EnableTsPackaging>
								</Options>
								<Rendition>
									<Name>Bypassed</Name>
									<Video>bypass</Video>
								</Rendition>
								<Rendition>
									<Name>Transcoded 480p 30fps</Name>
									<Video>480p</Video>
								</Rendition>
							</Playlist>
						</OutputProfile>
					</OutputProfiles>
					<Providers>
						<RTMP /> <!-- rtmp://<host>:1935/live with key: stream -->
						<SRT /> <!-- srt://<host>:9999?streamid=origin/live/stream -->
						<WebRTC /> <!-- http://<host>:3333/live/stream?direction=whip -->
					</Providers>
					<Publishers>
						<AppWorkerCount>2</AppWorkerCount>
						<StreamWorkerCount>0</StreamWorkerCount>
						<Thumbnail />
						<LLHLS />
						<WebRTC>
							<Rtx>true</Rtx> <!-- UDP retransmission -->
							<Ulpfec>true</Ulpfec> <!-- UDP forward error correction -->
							<JitterBuffer>true</JitterBuffer> <!-- A/V interleave to reduce player desync -->
						</WebRTC>
					</Publishers>
				</Application>
			</Applications>
			<SignedPolicy>
				<PolicyQueryKeyName>policy</PolicyQueryKeyName>
				<SignatureQueryKeyName>signature</SignatureQueryKeyName>
				<SecretKey>${env:OME_SECRET_KEY}</SecretKey>
				<Enables>
					<Providers>rtmp,webrtc,srt</Providers>
					<Publishers>thumbnail,webrtc,llhls</Publishers>
				</Enables>
			</SignedPolicy>
		</VirtualHost>
	</VirtualHosts>
</Server>
