netbox-acls == 1.7.* # https://github.com/netbox-community/netbox-acls
netbox-attachments == 6.* # https://github.com/Kani999/netbox-attachments
netbox-interface-synchronization == 4.1.* # https://github.com/NetTech2001/netbox-interface-synchronization
netbox-inventory == 2.2.* # https://github.com/ArnesSI/netbox-inventory
# netbox-lists == 4.0.* # https://github.com/devon-mar/netbox-lists
netbox-otp-plugin == 1.3.* # https://github.com/k1nky/netbox-otp-plugin
netbox-plugin-dns == 1.1.* # https://github.com/peteeckel/netbox-plugin-dns
netbox-reorder-rack == 1.1.* # https://github.com/netbox-community/netbox-reorder-rack
# netbox-routing == 0.2.* # https://github.com/DanSheps/netbox-routing
# netbox-secrets == 2.1.* # https://github.com/Onemind-Services-LLC/netbox-secrets
netbox-storage-plugin == 0.7.* # https://github.com/viroge/netbox-storage
netbox-topology-views == 4.1.* # https://github.com/netbox-community/netbox-topology-views
nextbox-ui-plugin == 1.0.* # https://github.com/iDebugAll/nextbox-ui-plugin
# slurpit_netbox == 0.9.* # https://gitlab.com/slurpit.io/slurpit-netbox
